@using HastaneOtomasyonu.Models;
@model List<Poliklinik>

<div style="background-color:azure">

    <table class="table table-bordered" style="color:darkred">
        <tr class="text-center my-3 pb-3">
            <th>ID</th>
            <th>Poliklinik Adı</th>
        </tr>
        <tbody>
            @foreach (var pol in Model)
            {
                <tr>
                    <td class="align-middle">@pol.Id</td>
                    <td class="align-middle">@pol.adi</td>
                    <td class="btn btn-success ms-1"><a href="/randevuAl/kategoriSec/@pol.Id" class="btn btn-warning">@_localizer.Getkey("randevuAl")</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>