@model HastaneOtomasyonu.Models.Randevu

@{
    ViewData["Title"] = "Create";
}

<h1>@_localizer.Getkey("Create")</h1>

<h4 style="color:red">@_localizer.Getkey("randevuAl")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tc" class="control-label custom-label"></label>
                <input asp-for="tc" class="form-control custom-input" />
                <span asp-validation-for="tc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="randevuZamani" class="control-label custom-label"></label>
                <input asp-for="randevuZamani" class="form-control custom-input" />
                <span asp-validation-for="randevuZamani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label custom-label">Doktor Adı</label>
                <select asp-for="doktorId" class="form-control custom-input" asp-items="ViewBag.doktorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
