@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> Language Change/Dil Değiştir </button>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                    <i class="flag-icon flag-icon-gb"></i> Türkçe
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                    <i class="flag-icon flag-icon-gb"></i> English
                </a>
            </li>
        </ul>
    </div>
</div>
