@model List<HastaneOtomasyonu.Models.Poliklinik>

<!DOCTYPE html>
<html>
<head>
    <title>Poliklinik Listesi</title>
</head>
<body>
    <h2>Poliklinik Listesi</h2>

    @if (Model != null && Model.Count > 0)
    {
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Adı</th>
            </tr>

            @foreach (var poliklinik in Model)
            {
                <tr>
                    <td>@poliklinik.Id</td>
                    <td>@poliklinik.adi</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@_localizer.Getkey("poliklinikBulunamadı")</p>
    }
</body>
</html>
